{{outlet}}
<h2>Todos</h2>

<h5>Add a new todo list</h5>

<ul>
  {{#each model as |todo|}}
    <li>
      {{#link-to 'todo' todo}}
        {{todo.title}}
        {{todo.description}}
        {{todo.status}}
      {{/link-to}}
      <button {{action 'delete' todo}}>Delete</button>
    </li>
  {{/each}}
</ul>
{{#link-to 'todo.new'}}New Todo{{/link-to}}
<br/>
<button href="#" {{action 'logout'}}>Logout</button>
